---
http_interactions:
- request:
    method: get
    uri: http://www.slideshare.net/api/oembed/2?format=json&url=http://de.slideshare.net/haraldf/business-quotes-for-2011
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Bench-Route:
      - oembed/get_oembed_code
      X-Request-Uuid:
      - V7ANU6f31m3Gsj1cnH8UfA==
      X-Fs-Uuid:
      - 1b83dfddf1444d142062cfe5aa2b0000
      X-Li-Fabric:
      - prod-lva1
      X-Li-Pop:
      - prod-tln1
      X-Li-Uuid:
      - G4Pf3fFETRQgYs/lqisAAA==
    body:
      encoding: ASCII-8BIT
      string: '{"html":"\u003Ciframe src=\"https://www.slideshare.net/slideshow/embed_code/key/6PCWPGFw9SwsAY\"
        width=\"427\" height=\"356\" frameborder=\"0\" marginwidth=\"0\" marginheight=\"0\"
        scrolling=\"no\" style=\"border:1px solid #CCC; border-width:1px; margin-bottom:5px;
        max-width: 100%;\" allowfullscreen\u003E \u003C/iframe\u003E \u003Cdiv style=\"margin-bottom:5px\"\u003E
        \u003Cstrong\u003E \u003Ca href=\"https://www.slideshare.net/haraldf/business-quotes-for-2011\"
        title=\"Business Quotes for 2011\" target=\"_blank\"\u003EBusiness Quotes
        for 2011\u003C/a\u003E \u003C/strong\u003E from \u003Cstrong\u003E\u003Ca
        href=\"http://www.slideshare.net/haraldf\" target=\"_blank\"\u003EHarald Felgner
        (PhD)\u003C/a\u003E\u003C/strong\u003E \u003C/div\u003E\n\n","slideshow_id":6435157,"author_url":"http://www.slideshare.net/haraldf","version":"1.0","thumbnail_width":170,"version_no":"1294104671","height":355,"title":"Business
        Quotes for 2011","conversion_version":2,"slide_image_baseurl_suffix":"-1024.jpg","thumbnail_height":128,"width":425,"author_name":"Harald
        Felgner (PhD)","type":"rich","provider_name":"SlideShare","provider_url":"http://www.slideshare.net","slide_image_baseurl":"//image.slidesharecdn.com/110103quotes2010-12-110103073149-phpapp01/95/slide-","thumbnail":"//cdn.slidesharecdn.com/ss_thumbnails/110103quotes2010-12-110103073149-phpapp01-thumbnail.jpg?cb=1294104671","total_slides":75}'
  recorded_at: Tue, 10 May 2016 17:27:39 GMT
- request:
    method: get
    uri: https://www.slideshare.net/api/oembed/2?format=json&url=http://de.slideshare.net/haraldf/business-quotes-for-2011
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ss-Make-Cacheable:
      - 'true'
      Etag:
      - W/"36dcbf6757662c253163815871aafcc0"
      X-Bench-Route:
      - oembed/get_oembed_code
      Content-Type:
      - application/json; charset=utf-8
      X-Request-Uuid:
      - ed38a2c39ffa5fad4fcdb0677c4549b3
    body:
      encoding: ASCII-8BIT
      string: '{"version":"1.0","type":"rich","title":"Business Quotes for 2011","author_name":"Harald
        Felgner, PhD","author_url":"https://www.slideshare.net/haraldf","provider_name":"SlideShare","provider_url":"https://www.slideshare[...]
